.bground {
    background-image: url(./source/assets/img/indexbground.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: scroll;
    background-size: cover;
}